div#modal {
	background-color: black;
	height: 100%;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1234566;
}

iframe#fantasyapp {
	background-color: white;
	border: 1px solid black;
	height: 96%;
	left: 2%;
	top: 2%;
	position: fixed;
	width: 96%;
	z-index: 1234567;
}
